
{% extends 'MarcaYourBundle::layout.html.twig' %}

{% block javascripts %}
{% endblock %}

{% block content %}
<div class="col-sm-11 well">
<form action="{{ path('rating_create') }}" method="post" {{ form_start(form) }}>
    {{ form_widget(form) }}
    <div>
        <button class="btn btn-default" type="submit">Create</button><a class="btn btn-default" href="">Cancel</a>
    </div>
</form>
</div>
{% endblock %}
