{# Marca/AssignmentBundle/Resources/views/ReviewRubric/edit.html.twig #}

<div class="modal-dialog">
    <script language="javascript">
        $(document).ready(function () {
            $('#delete_rubric').click(function () {
                $('#review_modal').load('{{path('reviewrubric_delete_modal',  { 'id': reviewrubric.id}) }}').modal();
            });
        });
    </script>


    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Edit Review Rubric</h4>
        </div>
        <form action="{{ path('reviewrubric_update', { 'id': reviewrubric.id }) }}"
              method="post" {{ form_enctype(edit_form) }} style="margin-bottom:0;" novalidate="novalidate">
            <div class="modal-body">
                {{ form_widget(edit_form) }}
            </div>
            <div class="modal-footer">
                <div class="btn-group pull-left">
                    <button type="submit" class="btn btn-primary" type="submit">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                <a id="delete_rubric" class="btn btn-warning pull-right margin-top-small"
                   title='Delete Rubric' href="javascript:void(0);">Delete</a>
            </div>
        </form>
    </div>
    <!-- /.modal-content -->
</div><!-- /.modal-dialog -->
