{# Marca/AssignmentBundle/Resources/views/ReviewRubric/edit.html.twig #}

<div class="modal-dialog">
    <script language="javascript">
        $(document).ready(function () {
            $('#delete_rubric').click(function () {
                $('#review_modal').load('{{path('reviewrubric_delete_modal',  { 'id': reviewrubric.id}) }}').modal();
            });
        });
    </script>


    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Edit Feedback Rubric</h4>
        </div>
        <div class="modal-body">
            <form action="{{ path('reviewrubric_update', { 'id': reviewrubric.id }) }}"
                  method="post" {{ form_start(edit_form) }} style="margin-bottom:0;" novalidate="novalidate">
                {{ form_widget(edit_form) }}
                <a id="delete_rubric" class="btn btn-warning"
                   title='Delete Rubric' href="javascript:void(0);">Delete</a>
                <button type="submit" class="btn btn-primary pull-right" type="submit">Post</button>
            </form>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
