{# Marca/NoteBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}
{% block title %}Marca | Notes{% endblock %}
{% block javascripts %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block subnav %}
{%include 'MarcaCourseBundle::subnav.html.twig' %}
{% endblock %}

{% block sidebar %}
    <li><legend>Notes</legend></li>
    <li><a href="{{ course_path('note_new') }}">New Note</a></li>
{% endblock %}