{# Marca/NoteBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}
{% block title %}{{ application_name }} Notes{% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}
{% block javascripts %}{{ parent() }}{% endblock %}

{% block subnav %}
{%include 'MarcaCourseBundle::subnav.html.twig' %}
{% endblock %}

{% block sidebar %}
    <h1>Notes</legend></h1>
    <a class="btn btn-primary" href="{{ course_path('note_new') }}" >Create<i class="glyphicon-pencil glyphicon-white"></i></a>
{% endblock %}