{# Marca/CourseBundle/Resources/views/Term/new.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<legend>Terms</legend>      

<div class="row">
<div class="col-md-11 well">
<form action="{{ path('term_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div>
        <button class="btn" type="submit">Create</button>
    </div>
</form>
</div>
</div>
{% endblock %}
