{# Marca/CourseBundle/Resources/views/Course/edit.html.twig #}

{% extends 'MarcaHomeBundle::dialog.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function()
        {
            {# form page close/cancel adjust for appropriate redirect #}
            $('#close_form').click(function(){
                window.location.href='{{ course_path('course_home') }}';
            });
       });
    </script>
{% endblock %}

{% block content %}
    <div class="col-sm-8 center">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button id="close_form" type="button" class="close">&times;</button>
                <h2 class="panel-title small">Announcement</h2>
            </div>
            <div class="panel-body">
                {{ form(edit_form) }}
            </div>
        </div>
    </div>
{% endblock %}


