
{% extends 'MarcaCourseBundle::layout.html.twig' %}

{% block content %}
<div class="row">
<div class="span6 well">
<h3>Welcome to {{ course.name }}</h3>
</div>
</div>   

<div class="row">
<div class="span6 well">
    <h3>Announcements</h3>  
    <p>{{ course.announcement }}</p>
</div>
</div>

{% endblock %}
