{# Marca/CourseBundle/Resources/views/Course/index.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="row">
   <div class="span6 well">
      <a class="btn btn-primary" href="{{ path('course_new') }}">New Course</a>
   </div>
</div>

<div class="row">
<div class="span6">
<table class="table">
<thead>
    <tr>              
        <th>Course Name</th>        
        <th>Time</th>
        <th></th>
    </tr>
</thead>    
<tbody>
    {% for course in courses %}
    <tr>         
        <td><a class="" href="{{ path('course_show', { 'courseid': course.id }) }}">{{ course.name }}</a></td>        
        <td>{{ course.time|date('h:i a') }}</td>             
    </tr>
    
    {% endfor %}
    </tbody>
</table>
</div>
</div>

 
{% endblock %}

