{# Marca/CourseBundle/Resources/views/Course/index.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="row">
<div class="span6 well">
<table class="table table-bordered table-condensed table-striped">
<thead>
    <tr>              
        <th>Course Name</th>        
        <th>Time</th>
        <th></th>
    </tr>
</thead>    
<tbody>
    {% for course in courses %}
    <tr>         
        <td>{{ course.name }}</td>        
        <td>{{ course.time|date('h:i a') }}</td>        
        <td><div class="btn-group"><a class="btn btn-info" href="{{ path('course_show', { 'courseid': course.id }) }}">Course Details</a></div>

</td>       
    </tr>
    
    {% endfor %}
    </tbody>
</table>
</div>
</div>

<div class="row">
   <div class="span4">
      <a class="btn btn-primary" href="{{ path('course_new') }}">Create a New Course</a>
   </div>
</div> 
{% endblock %}

