{% extends 'MarcaCourseBundle:Course:layout.html.twig' %}
 
{% block body %}
    <div class="row-fluid">
      <div class="span12">
        <a class="btn" href="{{ path('course') }}">
            Back to the list
        </a>
          </div>
        <div class="span12" style="margin-top: 3em">    
            <form action="{{ path('course_create') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
                 {{ form_widget(form) }}
                 <p>
                   <button class="btn" type="submit">Create</button>
                   </p>
            </form>
            </div>
      </div>
{% endblock %}