
{% extends 'MarcaCourseBundle:Course:layout.html.twig' %}

{% block content %}
<div class="span11">
<div class="row-fluid">
<div class="span1">
<div class="btn-group">
<a class="btn" href="{{ path('course') }}">List</a>
</div> 
</div>       
</div>

<div class="row-fluid">
<form action="{{ path('course_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div>
        <button class="btn" type="submit">Create</button>
    </div>
</form>
</div>
</div>
{% endblock %}
