{# Marca/UserBundle/Resources/views/Enroll/findCourse.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}

<div class="span9 well"><legend>Enroll</legend></div>

<div class="span9 well">
    <div class='alert alert-info'>To enroll in a course, enter your instructor's last name.</div> 
<form action="{{ path('enroll_list') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div>
        <button class="btn btn-primary" type="submit">Find Course</button>
    </div>
</form>
</div>

{% endblock %}