{# Marca/UserBundle/Resources/views/Enroll/findCourse.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="row">
<div class="span8"><h3>To enroll in a course, enter your instructor's last name.</h3>

<form action="{{ path('enroll_list') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div>
        <button class="btn btn-primary" type="submit">Find Course</button>
    </div>
</form>
</div>
</div>
{% endblock %}