
{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="row-fluid">
<div class="span6 well"><h3>Select your course</h3>
<table class="table table-bordered table-condensed table-striped">
<thead>
        <tr>
            <th>Course</th><th>Instructor</th><th>Time</th>
        </tr>
</thead>    
<tbody>
    {% for course in courses %}
        <tr>
            <td>{{ course.name }}</td>
            <td>{{ course.lastname }}, {{ course.firstname }}</td>
            <td>{{ course.time|date('h:i a') }}</td>
            <td><a class="btn btn-primary" href="">Enroll</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}