/web/uploads
/web/bundles
/components/
/web/assetic/
/web/css/compiled/
/web/js/
/app/bootstrap.php.cache
/app/cache
/app/logs
/vendor
app/config/parameters.ini
/app/config/parameters.yml
/app/config/security.yml
/nbproject
/uploads
/temp
/buildNotes
/composer.phar
.idea
/node_modules
.elasticbeanstalk/
