/web/uploads
/web/bundles
/app/bootstrap.php.cache
/app/cache
/app/logs
/vendor
/app/config/parameters.ini
/app/config/parameters.yml
/app/config/security.yml
/nbproject
/uploads
/temp
/buildNotes
/composer.lock
/composer.phar
.idea
