{% extends 'MarcaAssignmentBundle::layout.html.twig' %}

{% block content %}
<h2>PromptItem creation</h2>

<form action="{{ path('promptitem_create',{'reviewrubricid':reviewrubric.id}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div class="btn-group">
        <button type="submit" class="btn btn-primary" type="submit">Create</button>
        <a class='btn btn-default' href="{{ path('reviewrubric_show',{'id':reviewrubric.id}) }}">Cancel</a>
    </div>
</form>

{% endblock %}