{# Marca/AssignmentBundle/Resources/views/ReviewRubric/index.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
    <div class="col-sm-8 center">

        <form action="{{ path('promptitem_create',{'reviewrubricid':reviewrubric.id}) }}"
              method="post" {{ form_start(form) }} novalidate="novalidate">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title small">Prompt Item</h2>
                </div>
                <div class="panel-body">
                    {{ form_widget(form) }}
                </div>
                <div class="panel-footer">
                    <div class="btn-group">
                        <button class="btn btn-primary" type="submit">Create</button>
                        <a class='btn btn-default'
                           href="{{ path('reviewrubric_show',{'id':reviewrubric.id}) }}">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}