{# Marca/FileBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}
{% block title %}{{ application_name }} Projects{% endblock %}

{% block javascripts %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block subnav %}
{%include 'MarcaCourseBundle::subnav.html.twig' %}
{% endblock %}

{% block sidebar %}
<script language="javascript">
$(document).ready(function()
{    
$('#file_new_doc').click(function(){
  $('#file_modal').load('{{ course_path('file_new_modal', { 'fileid':'0','resource': app.request.get('resource'), 'tag': app.request.get('tag'),'type': 'doc' }) }}');
  $('#file_modal').modal();
});
$('#file_new_link').click(function(){
  $('#file_modal').load('{{ course_path('file_new_modal', { 'fileid':'0','resource': app.request.get('resource'), 'tag': app.request.get('tag'),'type': 'link' }) }}');
  $('#file_modal').modal();
});
});
</script>
<h1>{% if app.request.get('resource')=='1' %}Resources{% else %}Projects{% endif %}</h1>

{% if app.request.attributes.get('_route') == 'file_list'%}
{# check to see if projects are in the current course  #}
{% for project in projects if project.course.id == app.request.get('courseid') %}
{# if for resources (only instructor can post to resources)  #}
{% if (app.request.get('resource')=='0' or course.isOwner(app.user.username)) and loop.first %}
<div class="btn-group">
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
    Create
    <i class="icon-pencil icon-white"></i>
  </a>
  <ul class="dropdown-menu">
    <li><a id='file_new_doc' title='Create new document' href='javascript:void(0);'><i class="icon-edit"></i> Document</a></li>
    <li><a id='file_new_upload' title='Upload document' href="{{ course_path('file_upload', { 'resource': app.request.get('resource'),  'tag': app.request.get('tag') }) }}"><i class="icon-upload"></i> Upload</a></li>  
    <li><a id='file_new_link' title='Create new link' href="javascript:void(0);"><i class="icon-adjust"></i> Link</a></li>
  </ul>
</div>
{% endif %}
{% else %}
{% endfor %}
{% endif %}






{% endblock %}  
