{% extends '::base.html.twig' %}
{% block title %}Marca Files{% endblock %}

{% block stylesheets %}
{% stylesheets 
  'bundles/marcafile/css/*'
  filter='cssrewrite'
%}
<link rel="stylesheet" href="{{ asset_url }}">
{% endstylesheets %}
{% endblock %}

{% block subnav %}
{%include 'MarcaCourseBundle::subnav.html.twig' %}
{% endblock %}

{% block body %}
<div class="row-fluid">
{% block sidebar %}
<div class="span2">
    <div class="well sidebar-nav">
     <ul class="nav nav-list">   
       {% if is_granted('ROLE_USER') %}
             <li><a href="{{ path('user_home') }}">Home</a></li>
             <li><a href="{{ path('file') }}">List Files</a></li>
             <li><a href="{{ path('file_upload') }}">Upload File</a></li>
       {% endif %}
     </ul>
    </div> 
    </div>        
{% endblock %}  
<div class="span10"> 
{% block content %}          
{% endblock %}
</div>   
</div>         
{% endblock %} 