{# Marca/FileBundle/Resources/views/subnav.html.twig #}
{# esi fragment for file subnav #}

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnav-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" title="File listing">
                {% if user %}
                {{ user.firstname }} {{ user.lastname }}
                {% endif %}
            </a>
        </div>
        <div class="collapse navbar-collapse" id="subnav-collapse">
            <ul class="nav navbar-nav">
                <p class="navbar-text project"></p>
                <p class="navbar-text tags"></p>
                <p class="navbar-text file_count"></p>
                {% if role == '2' and app.request.attributes.get('_route') == 'reviewsbyuser'%}

                    <a class="btn btn-default btn-sm navbar-btn pull-right margin-left" href="{{ course_path('file_release_all') }}">Release Hidden Reviews</a>
                {% endif %}
            </ul>
            {# next previous rewritten by jquery in layout.html.twig #}
            <ul id="subnav-roll" class="nav navbar-nav navbar-right">
                <li><a class="roll_previous" data-index="0" data-id='0' href="javascript:void(0);"></a></li>
                <li><a class="roll_next" data-index="0" data-id='0' href="javascript:void(0);"></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


