{# Marca/FileBundle/Resources/views/subnav.html.twig #}
{# esi fragment for file subnav #}

    <nav class="subnav navbar navbar-default hidden-xs" role="navigation">
        <div class="navbar-header col-sm-2">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" title="File listing">
                {% if byuser %}{{ byuser.firstname }} {{ byuser.lastname }}
                {% elseif app.request.get('scope')=='mine' %}My Files
                {% elseif app.request.get('scope')=='reviews' %}Reviews
                {% else  %}Shared Files
                {% endif %}</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <p class="navbar-text project"></p>
                <p class="navbar-text tags"></p>
                <p class="navbar-text file_count"></p>
                {% if role == '2' and app.request.get('resource')==0 %}
                    <a class="btn btn-default btn-sm navbar-btn pull-right margin-left" href="{{ course_path('file_release_all') }}">Release Hidden Reviews</a>
                {% endif %}
            </ul>

            {# esi fragment for roll; url creation for listing in layout #}
            {{ render_esi(controller('MarcaCourseBundle:Course:createRoll', { 'courseid': app.request.get('courseid') })) }}

        </div>
    </nav>


