{# Marca/CalendarBundle/Resources/views/Calendar/new_modal.html.twig #}


  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">New Event</h3>
  </div>
  <form action="{{ course_path('calendar_create') }}" method="post" {{ form_enctype(form) }}>
  <div class="modal-body">
    {{ form_widget(form) }}
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
  </form> 

<script language="javascript"> 
$(document).ready(function()
{
if(CKEDITOR.instances["marca_calendarbundle_calendartype_description"]) {
    delete CKEDITOR.instances["marca_calendarbundle_calendartype_description"];  
    };
$('#marca_calendarbundle_calendartype_description').ckeditor( function() {}, {removePlugins: 'elementspath',height:100, skin: 'BootstrapCK-Skin',forcePasteAsPlainText : true,
toolbar : [
['Bold','Italic','Link','Unlink','NumberedList','BulletedList','RemoveFormat'],
],} );
$( '#marca_calendarbundle_calendartype_startDate' ).datepicker({
showButtonPanel: true,
});
$( '#marca_calendarbundle_calendartype_startTime' ).timepicker(({ 'timeFormat': 'H:i' }));
$( '#marca_calendarbundle_calendartype_endDate' ).datepicker({
showButtonPanel: true,
});
$( '#marca_calendarbundle_calendartype_endTime' ).timepicker(({ 'timeFormat': 'H:i' }));
$("#marca_calendarbundle_calendartype_color").spectrum({
    preferredFormat: "name",
    showPaletteOnly: true,
    showInput: true,
    color: 'royalblue',
    palette: [
        ['royalblue', 'seagreen', 'slateblue','darkorange'],
        ['darkmagenta', 'darkslategrey', 'teal','firebrick'],
        ['orange', 'cadetblue', 'tomato','blueviolet']        
    ]
});
});
</script>


