
{% extends 'MarcaCourseBundle:Course:layout.html.twig' %}

{% block content %}
<div class="row-fluid">    
<form action="{{ path('project_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
<div class="row-fluid">
        <button class="btn btn-primary" type="submit">Edit</button>
</div>
</form>
</div>

<div class="row-fluid">
<div class="span2">
<a class="btn btn-info" href="{{ path('project') }}">Return to Course Detail</a>
</div>       
</div>
{% endblock %}
