
{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="row-fluid">    
    <form action="{{ path('project_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} novalidate="novalidate"
    {{ form_widget(edit_form) }}
        <button class="btn btn-primary" type="submit">Update Project</button>
    </form>
 <a class="btn" href="{{ path('project') }}">Cancel</a>       
</div>

{% endblock %}
