
{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}

<div class="span12" style="margin-top: 3em"> 
<form action="{{ path('project_create', {'courseid': courseid}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div>
        <button class="btn" type="submit">Create</button>
    </div>
</form>
</div>
{% endblock %}
