
{% extends 'MarcaCourseBundle:Project:layout.html.twig' %}

{% block body %}
<div class="row-fluid">
<div class="span12">
        <a class="btn" href="{{ path('project') }}">List</a>
</div>

<div class="span12" style="margin-top: 3em"> 
<form action="{{ path('project_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div>
        <button class="btn" type="submit">Create</button>
    </div>
</form>
</div>
</div>

{% endblock %}
