{# Marca/CourseBundle/Resources/views/Project/new.html.twig #}

{% extends 'MarcaHomeBundle::dialog.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function()
        {
            {# form page close/cancel adjust for appropriate redirect #}
            $('#close_form').click(function(){
                window.location.href='{{ path('course_show', { 'courseid': courseid }) }}';
            });
        });
    </script>
{% endblock %}

{% block content %}
<div class="col-sm-6 center">
    <div class="panel panel-default">
        <form class="form" action="{{ path('project_create', { 'courseid': courseid, 'resource':project.resource }) }}" method="post" novalidate="novalidate">
        <div class="panel-heading">
            <button id="close_form" type="button" class="close">&times;</button>
            <h2 class="panel-title small">New {% if project.resource == 0%}Folder in Projects{%else%}Folder in Resources{%endif%}</h2>
        </div>
        <div class="panel-body">
            {{ form_widget(form) }}
            <button class="btn btn-primary pull-right" type="submit">Post</button>
        </div>
        </form>
    </div>
</div>
{% endblock %}
