{# Marca/JournalBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}
{% block title %}Marca Journal{% endblock %}

{% block javascripts %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block subnav %}
{%include 'MarcaCourseBundle::subnav.html.twig' %}
{% endblock %}


{% block sidebar %}
       <li><legend>Journal</legend></li>
             <li><a class="btn btn-primary" href="{{ course_path('journal_new')  }}" >Create<i class="icon-pencil icon-white"></i></a></li>
             <li><a href="{{ course_path('journal', { 'set': 0 }) }}">Recent Entries</a></li>     
{% endblock %}  
