{# Marca/JournalBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}
{% block title %}Marca Journal{% endblock %}

{% block stylesheets %}
{% stylesheets 
  'bundles/marcauser/css/*'
  filter='cssrewrite'
%}
<link rel="stylesheet" href="{{ asset_url }}">
{% endstylesheets %}
{% endblock %}

{% block subnav %}
{%include 'MarcaCourseBundle::subnav.html.twig' %}
{% endblock %}


{% block sidebar %}
       {% if is_granted('ROLE_USER') %}
             <li><a href="{{ course_path('journal', { 'set': 0 }) }}">List Recent Entries</a></li>
             <li><a href="{{ course_path('journal_new') }}">New Journal Entry</a></li>
       {% endif %}      
{% endblock %}  
