
{% extends 'MarcaYourBundle::layout.html.twig' %}

{% block javascripts %}
{% endblock %}

{% block content %}

<div class="col-md-2">
<a class="btn btn-info" href="{{ path('ratingset') }}">List</a>
</div>       
  
<div class="col-md-11 well">
<form action="{{ path('ratingset_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div>
        <button class="btn btn-default" type="submit">Create</button><a class="btn btn-default" href="">Cancel</a>
    </div>
</form>
</div>
{% endblock %}
