parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     marca_db
    database_user:     dbusername
    database_password: dbpassword
    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_port:       false
    mailer_sender_address: marca@yourserver.edu
    mailer_user:       ~
    mailer_password:   ~
    mailer_encryption:  ~
    from_email:        marca@yourserver.edu
    locale:            en
    secret:            agr8hqoiugq34iqn34g8q0348gq7435
    app_name:          Marca
    help_email:        help@yourserver.edu
    help_url:          http://www.gomarca.com/using-marca/
    wkhtmltopdf_path: /usr/local/bin/wkhtmltopdf-amd64
    gaufrette:        false
    vich_storage:     vich_uploader.storage.file_system
    vich_uri_prefix:       %kernel.root_dir%/../uploads/files
    vich_upload_destination:  %kernel.root_dir%/../uploads/files
    cas: no

