parameters:
    database_driver:   pdo_pgsql
    database_host:     localhost
    database_port:     xxxx
    database_name:     xxxx
    database_user:     xxxxxx
    database_password: xxxxxx

    mailer_transport:  smtp
    mailer_host:       xxxx
    mailer_port:       xxxx
    mailer_sender_address: xxxxxx
    mailer_user:       xxxxxx
    mailer_password:   xxxx
    mailer_encryption:  xxx
    from_email:        xxxx

    locale:            en
    secret:            xxxx
