parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     xxxx
    database_name:     xxxx
    database_user:     xxxx
    database_password: xxxx

    mailer_transport:  xxxx
    mailer_host:       xxxx
    mailer_port:       xxxx
    mailer_sender_address: xxxx
    mailer_user:       xxxx
    mailer_password:   xxxx
    mailer_encryption:  xxxx
    from_email:        xxxx

    ldap_host: ldap://example.com
    ldap_port: 389

    locale:            xxxx
    secret:            xxxx
    app_name:          XXXXX

    help_email:
    help_url:

    ldap:              no

    upload_path:       %kernel.root_dir%/../uploads/files
    wkhtmltopdf_path: /usr/local/bin/wkhtmltopdf-amd64


