{% extends '::base.html.twig' %}
{% block title %}Marca Forum{% endblock %}

{% block stylesheets %}
{% stylesheets 
  'bundles/marcauser/css/*'
  filter='cssrewrite'
%}
<link rel="stylesheet" href="{{ asset_url }}">
{% endstylesheets %}
{% endblock %}

{% block subnav %}
{%include 'MarcaCourseBundle::subnav.html.twig' %}
{% endblock %}


{% block sidebar %} 
       {% if is_granted('ROLE_USER') %}
             <li><a href="{{ course_path('forum', { 'set': 0 }) }}">List Recent Threads</a></li>
             <li><a href="{{ course_path('forum_new') }}">New Forum Thread</a></li>
       {% endif %}     
{% endblock %}  
