{# Marca/ForumBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}
{% block title %}Marca Forum{% endblock %}

{% block javascripts %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block subnav %}
{%include 'MarcaCourseBundle::subnav.html.twig' %}
{% endblock %}


{% block sidebar %} 
       <li><legend>Forum</legend></li>
       {% if is_granted('ROLE_INSTR') %}
             <li><a class='btn' href="{{ course_path('forum_new') }}">CREATE</a></li>
             {% endif %} 
             <li><a href="{{ course_path('forum', { 'set': 0 }) }}">Recent Discussions</a></li>
             
           
{% endblock %}  
