{% extends 'MarcaHomeBundle:Default:layout.html.twig' %}
 
{% block body %}


<header>
<h1>Marca</h1>
</header>

<aside>
    <p><a title="Get an Account" href="{{ path('fos_user_registration_register') }}" >Get an Account</a></p>
</aside>

<section>
<article>
<header>
<h2>Marca</h2>
<p> is developed and supported by The Calliope Initiative</p>
</header>

</article>
</section>

<footer>
<p>The Calliope Initiative offers hosting, support, consulting, and development for the Marca writing web application.</p>
<p>For more information about Calliope, please contact robin@calliopeinitiative.org</p>
</footer>



{% endblock %}