{% extends 'MarcaHomeBundle:Default:layout.html.twig' %}
 
{% block body %}


<div class="row">
<div class="col col_11">
<article>  
<span class="information">Marca is developed and supported by 
The Calliope Initiative</span>
<p>The Calliope Initiative offers hosting, support, consulting, and development for the <emma> writing web application. For more information about Calliope, please contact robin@calliopeinitiative.org</p>
<p>Take Marca for a TestDrive.</p>
</article>

<aside>
<p><a title="Get an Account" href="{{ path('fos_user_registration_register') }}" >Get an Account</a></p>
</aside>
</div>
</div>


{% endblock %}