{% extends 'MarcaHomeBundle:Default:layout.html.twig' %}
 
{% block body %}

<div class="row-fluid">
<div class="span8">
    <h1>Take Marca for a TestDrive.</h1>
</div>
<div class="span4">        
<p><a class="btn-large btn-primary" title="Get an Account" href="{{ path('fos_user_registration_register') }}" >Get an Account</a></p>
</div>
</div>

{% endblock %}