{# Marca/HomeBundle/Resources/views/Default/index.html.twig #}

{% extends 'MarcaHomeBundle:Default:layout.html.twig' %}
 
{% block body %}

<div class="row-fluid">
<div class="span8">
    <legend>Welcome to {{ application_name }}</legend>  
</div>
        
{% if ldap_auth!='yes' %}        
<div class="span4"> 
<p><a class="btn btn-primary" title="Get an Account" href="{{ path('fos_user_registration_register') }}" >Get an Account</a></p>
</div>
{% endif %}        
</div>

<div class="row-fluid">
<div class="span12">        
{% for page in pages %}    
{{ page.body|raw }}
{% endfor %} 
        
</div>
</div> 


<div class="row-fluid">
<div class="span6">
<legend>Intuitive peer editing</legend>
Marca makes peer editing a breeze. Students can easily share their work with each other, offer comments, and provide detailed feedback using custom tags created by their instructors.

<legend>Simply beautiful portfolios</legend>
<p>Using Marca, your students can create beautiful portfolios that combine text and rich multimedia.</p>  
</div>

<div class="span6">
<legend>Powerful, flexible markup</legend>
<p>Whether you’re leaving initial feedback on a rough draft or thoroughly grading a final project, Marca provides instructors with simple yet powerful and customizable tools for marking up documents. Marca will help you grade more effectively and efficiently.</p>
</div>
</div>

       
{% endblock %}