{# Marca/PortfolioBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}
{% block title %}Marca Portfolio{% endblock %}

{% block javascripts %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block subnav %}
{%include 'MarcaCourseBundle::subnav.html.twig' %}
{% endblock %}


{% block sidebar %}   
             <li><a href="{{ course_path('portfolio') }}">View Portfolio</a></li>
             <li><a href="{{ course_path('file') }}">Add to Portfolio</a></li> 
{% endblock %}  
 