{# Marca/PortfolioBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}
{% block title %}Marca Portfolio{% endblock %}
{% block javascripts %}{% endblock %}
{% block stylesheets %}
{% stylesheets 
  'bundles/marcaportfolio/css/*'
  filter='cssrewrite'
%}
<link rel="stylesheet" href="{{ asset_url }}">
{% endstylesheets %}
{% endblock %}

{% block subnav %}
{%include 'MarcaCourseBundle::subnav.html.twig' %}
{% endblock %}

{% block body %}
<div class="row-fluid">
    
{% block sidebar %} 
<div class="span2">
    <div class="well sidebar-nav">
     <ul class="nav nav-list">   
             <li><a href="{{ course_path('portfolio_new') }}">Add to Portfolio</a></li>
             <li><a href="{{ course_path('portfolio') }}">View Portfolio</a></li>
     </ul>
    </div> 
    </div>     
{% endblock %}  

<div class="span10"> 
{% block content %}          
{% endblock %}
</div>   
</div>       
{% endblock %} 