{# Marca/PortfolioBundle/Resources/views/sidebar.html.twig #}
{# esi fragment for portfolio sidebar #}

<h2><a title='Course Portfolio' href="{{ course_path('portfolio') }}" class="marca-gray">Portfolio</a></h2>

<li><a href="{{ course_path('portfolio_user', { 'userid': '0', 'user': '0' }) }}">View My Portfolio</a></li>

{{ render_esi(controller('MarcaCourseBundle:Course:createRoll', { 'courseid': app.request.get('courseid') })) }}

{% if role == 2 %}
    <hr class="marca-spacer" />
    <li><a href="{{ course_path('port_status_toggle') }}">Portfolio editing: {% if portStatus == 'true' %}Open{% else %}Closed{% endif %}</a></li>
{% endif %}