{# Marca/AssessmentBundle/Resources/views/Assessmentset/new.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block javascripts %}

{% endblock %}

{% block content %}
<script language="javascript"> 
$(document).ready(function()
{

});
</script>


<div class="span9 well">
<legend>Assessment</legend> 
<a class="btn" href="{{ path('assessmentset') }}">List Assessment Sets</a>
</div> 

<div class="span9 well"> 
<form action="{{ path('assessmentset_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div>
        <button class="btn btn-primary" type="submit">Create</button><a class="btn" href="">Cancel</a>
    </div>
</form>
</div>
{% endblock %}
