{# Marca/PortfolioBundle/Resources/views/Portfolio/edit.html.twig #}

{% extends 'MarcaHomeBundle::dialog.html.twig' %}

{% block content %}
    <div class="col-sm-6 center">
        <div class="panel panel-default">
            <form class="form" action="{{ course_path('portfolio_update', { 'id': portfolio.id }) }}" method="post" {{ form_start(edit_form) }}>
                <div class="panel-heading">
                    {{ form_errors(edit_form) }}
                    <h3 class="panel-title">Portfolio</h3>
                </div>
                <div class="panel-body">
                    {{ form(edit_form) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
