{# Marca/PortfolioBundle/Resources/views/Portfolio/show.html.twig #}

{% extends 'MarcaPortfolioBundle::layout.html.twig' %}

{% block content %}
<div class="row"> 
<div class="span1">        
<form action="{{ course_path('portfolio_delete', { 'id': portfolio.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
</form>
</div>
<div class="span1">
<a class="btn btn-info" href="{{ course_path('portfolio', { 'id': portfolio.id }) }}">Cancel</a>
</div>   
</div>
             
{% endblock %}
