{# Marca/PortfolioBundle/Resources/views/Portfolio/show_modal.html.twig #}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Remove from Portfolio</h4>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to remove this file?</p>
            <form action="{{ course_path('portfolio_delete', { 'id': portfolio.id}) }}" method="post">
                {{ form_widget(delete_form) }}
                <div class="btn-group">
                    <button class="btn btn-danger" type="submit">Remove</button>
                    <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</a>
                </div>
            </form>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->



