{# Marca/TabBundle/Resources/views/Tagset/new.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}


<div class="span9 well">
    <legend>Label Sets</legend>
</div> 

<div class="span9 well" > 
<form action="{{ path('tagset_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div class="margin-top">
        <button class="btn btn-primary" type="submit">Create</button><a class="btn" href="{{ path('tagset') }}">Cancel</a>
    </div>
</form>
</div>
      
{% endblock %}
