{# Marca/TabBundle/Resources/views/Tagset/new.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<legend>Label Sets</legend>

<div class="row">
<div class="span4 well">
    <a class="btn btn-info" href="{{ path('tagset') }}">List Label sets</a>
</div> 
</div>
<div class="row">
<div class="span4 well" > 
<form action="{{ path('tagset_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>
</div>
</div>        
{% endblock %}
