{# Marca/CourseBundle/Resources/views/Roll/new.html.twig #}

{% extends 'MarcaCourseBundle::layout.html.twig' %}

{% block content %}
<div class="row-fluid">
<div class="col-sm-2">
<div class="btn-group">
<a class="btn btn-default" href="{{ path('roll') }}">List</a>
 
</div> 
</div>       
  
</div>

<div class="col-sm-12" style="margin-top: 3em">
<form action="{{ path('roll_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div>
        <button class="btn btn-default" type="submit">Create</button>
    </div>
</form>
</div>
{% endblock %}
