{# Marca/CourseBundle/Resources/views/Roll/show.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="row-fluid">
<div class="col-sm-8 well">
<legend>Confirm removal of  {{ roll.firstname }} {{ roll.lastname }}</legend>
<form action="{{ path('roll_delete', { 'id': roll.id,'courseid': course.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Remove</button>
</form> 
</div>       
  
</div>
     
{% endblock %}
