
{% extends 'MarcaJournalBundle:Default:layout.html.twig' %}

{% block content %}

{% for entity in entities %}
<div class="row well">
<div class="row">
<div class="span4"><h4>{{ entity.title }}</h4></div>
</div>
  
<div class="row">
<div class="span8">{{ entity.body|raw }} </div>
</div>
        
<div class="row">
<div class="span4">
<div class="btn-group">
<a class="btn btn-primary" href="{{ path('journal_edit', { 'id': entity.id }) }}">edit</a>
</div>
</div>
</div>
</div>
{% endfor %}

{% endblock %}
