{# Marca/AssessmentBundle/Resources/views/Scale/new.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block javascripts %}
{% endblock %}

{% block content %}

   
<div class="col-md-11 well">
<h2>Scales</h2>
</div> 

<div class="col-md-11 well">
<form action="{{ path('scale_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div>
        <button class="btn btn-primary" type="submit">Create</button><a class="btn btn-default" href="{{ path('assessmentset') }}">Cancel</a>
    </div>
</form>
</div>
{% endblock %}
