{# Marca/AssignmentBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}
{% block title %}{{ application_name }} Rubrics{% endblock %}

{% block javascripts %}{% endblock %}
{% block stylesheets %}{% endblock %}



{% block sidebar %}
<script language="javascript">
$(document).ready(function()
{    
    $('#file_new_rubric').click(function(){
        $('#file_modal').load('{{path('reviewrubric_new') }}');
        $('#file_modal').modal();
    });
});
</script>
       <h1>Rubrics</h1>
   
     
             <a class="btn btn-primary" id='file_new_rubric' title='Create new rubric' href="javascript:void(0);">Create<i class="icon-pencil icon-white"></i></a>
             <li><a href="{{ path('reviewrubric') }}">List Rubrics</a></li>  
             

{% endblock %}  