{# Marca/NoteBundle/Resources/views/Note/index.html.twig #}

{% extends 'MarcaNoteBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block content %}
<div style="
        width:1000px;
        -webkit-column-count: 3;
        -webkit-column-gap:   0px;
        -moz-column-count:    3;
        -moz-column-gap:      0px;
        column-count:         3;
        column-gap:           0px;">
    {% for note in notes %}
  <div class="panel panel-default" style="display: inline-block;
        margin-bottom: 0;
        width: 100%;">
            <div class="panel-heading">
                <a href="{{ course_path('note_edit', { 'id': note.id }) }}">{{ note.title }}</a>
                </div>
      <div class="panel-body">
          {{ note.description|raw }}
      </div>
        </div>
    {%else%}
        You don't have any notes yet.  Just click the Create button to get started.
    {% endfor %}
    </div>
    {% endblock %}
