{# Marca/CourseBundle/Resources/views/Note/index.html.twig #}
{% extends 'MarcaNoteBundle::layout.html.twig' %}
{% block content %}


<div class="note_board">

<div id="note1" class="note">
	<p>Drag me around</p>
</div>
    
<div id="note2" class="note">
	<p>Drag me around, too</p>
</div>

</div><!-- End demo -->

{% endblock %}