{# Marca/NoteBundle/Resources/views/Note/new.html.twig #}

{% extends 'MarcaNoteBundle::layout.html.twig' %}

{% block javascripts %}
{% endblock %}

{% block content %}
<div class="col-md-11 well">
<form action="{{ course_path('note_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div>
        <button class="btn btn-primary" type="submit">Create</button><a class="btn" href="{{ course_path('note') }}">Cancel</a>
    </div>
</form>
</div>
{% endblock %}
