{# Marca/HomeBundle/Resources/views/Page/index.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="col-md-11 well">
<legend>Pages</legend>
      <a class="btn btn-primary" href="{{ path('page_new') }}">New Page</a>
</div>


<div class="col-md-11 well">
<table class="table">  
<tbody>
    {% for page in pages %}
    <tr>               
        <td>{{ page.title }}</td>
        <td>{% if page.type ==1 %}Research consent form{% elseif page.type ==2 %}Rubric{% else %}Display on Homepage{% endif %}</td>
        <td><a class="btn" href="{{ path('page_show', { 'id': page.id }) }}">show</a><a class="btn btn-primary" href="{{ path('page_edit', { 'id': page.id }) }}">edit</a>

</td>       
    </tr>
    
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}
