{# Marca/HomeBundle/Resources/views/Page/new.html.twig #}

{% extends 'MarcaHomeBundle::layout.html.twig' %}

{% block javascripts %}
    <script language="javascript">
        $(document).ready(function()
        {
            var winheight = $(document).height() * .55;
            $('body').height(winheight);
        });
    </script>
{% endblock %}

{% block content %}
<div class="span9">
<form action="{{ path('page_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div>
        <button class="btn" type="submit">Create</button>
    </div>
</form>
</div>
{% endblock %}
