{# Marca/HomeBundle/Resources/views/Page/show.html.twig #}

{% extends 'MarcaHomeBundle::layout.html.twig' %}

{% block content %}
<div class="row-fluid">
<div class="span2">
<div class="btn-group">
<a class="btn" href="{{ path('page') }}">List</a>
<a class="btn" href="{{ path('page_edit', { 'id': page.id }) }}">Edit</a> 
</div> 
</div>         
</div>
        
{{ page.body|raw }}
      
{% endblock %}
