{# Marca/HomeBundle/Resources/views/Page/show.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}

    <div class="col-sm-12 margin-bottom">
        <div class="btn-group">
            <a class="btn btn-default" href="{{ path('page') }}"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
            <a class="btn btn-default" href="{{ path('page_edit', { 'id': page.id }) }}">Edit</a>
        </div>
        <span style="text-align:center;"><h2>{{ page.title }}</h2></span>
        </div>

    <hr class="marca-spacer" />

    <div class="col-sm-12">
    {{ page.body|raw }}
    </div>


{% endblock %}
