{# Marca/HomeBundle/Resources/views/Page/show.html.twig #}

{% extends 'MarcaHomeBundle::layout.html.twig' %}

{% block content %}
   
{{ page.body|raw }}
 

<div class="col-md-11">

<a class="btn btn-primary" href="{{ path('page_edit', { 'id': page.id }) }}">Edit</a> 

</div> 
{% endblock %}
