
{% extends 'MarcaTagBundle::layout.html.twig' %}

{% block content %}
<div class="span6 well"> 
<form action="{{ path('tag_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div>
        <button class="btn" type="submit">Create</button>
    </div>
</form>
</div>
{% endblock %}
