{# Marca/PortfolioBundle/Resources/views/Portset/new.html.twig #}

{% extends 'MarcaUserBundle::dialog.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            {# form page close/cancel adjust for appropriate redirect #}
            $('#close_form').click(function () {
                window.location.href = '{{ path('portset') }}';
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="col-sm-8 well center">
        <button id="close_form" type="button" class="close">&times;</button>
        <h2 class="margin-top-small">Portfolio Set</h2>

        <form class="form" action="{{ path('portset_create') }}" method="post" >
            {{ form_widget(form) }}
            <button class="btn btn-primary pull-right" type="submit">Post</button>
        </form>
    </div>
{% endblock %}
