{# Marca/AdminBundle/Resources/views/Institution/new.html.twig #}

<div class="modal-dialog">
    <div class="modal-content">
        <form action="{{ path('inst_create') }}" method="post" {{ form_enctype(form) }}>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title">New Institution</h2>
            </div>
            <div class="modal-body">
                {{ form_widget(form) }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </form>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->




