{# Marca/AdminBundle/Resources/views/Institution/new.html.twig #}

<script language="javascript"> 
$(document).ready(function() {
$(' form div ul li ul li').addClass('alert alert-error');
});
</script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>New Institution</h3>
</div>
<form action="{{ path('inst_create') }}" method="post" {{ form_enctype(form) }}> 
 <div class="modal-body">
     {{ form_errors(form) }}
     {{ form_rest(form) }}
  </div>
  <div class="modal-footer">
<button class="btn btn-primary pull-left" type="submit">Create</button>
</div>


