/* 
    Document   : external.css
    Created on : Nov 30, 2012, 1:24:28 PM
    Author     : rlbaltha
    Description:
        Purpose of the stylesheet follows.
*/

html, body {height:100%;font-family: 'Open Sans', 'Arial', 'sans-serif';}
h1,h2,legend,.navbar-brand  {font-family: 'Josefin Sans', 'Arial', 'sans-serif';}
#file_list thead th {font-family: 'Open Sans', 'Arial', 'sans-serif';}
