/* 
    Document   : external.css
    Created on : Nov 30, 2012, 1:24:28 PM
    Author     : rlbaltha
    Description:
        Purpose of the stylesheet follows.
*/

html, body {height:100%;font-family:"museo-sans";}
.container {font-family:"museo-sans";}

