/* 
    Document   : local
    Created on : Mar 23, 2012, 9:24:24 PM
    Author     : rlbaltha
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
.footer {margin-top: 3em;padding-top: 1em;border-top: grey solid 1px}

.pad {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
}

/* 
  Local mods for Twitter Bootstrap
*/

.container-fluid {margin-top:60px;}
.navbar-inner .container {margin-left: 20px;}
.page-header {margin-top:20px;}
.subnav-fixed {margin-top: -20px;}
.cell {float:left}
.doc {background-color: white; border-color: gray;}
.checkbox {display:inline;}
label {display:inline;padding:.5em;margin-right: 2em;}
.clear {clear:left}
.divider {margin-top: 1em;}


/* 
   Doc displays
*/

.eDoc_note {color:blue;background:white; border:white 1px solid;padding-left:4px;padding-right: 2px;}
.eDoc_highlight {background:#FFFFD3}
.eDoc_error {background:#bcd85f;padding:1px;}
.eDoc_hanging_indent {text-indent:-0.5in; margin-left:0.5in;line-height: 200%;font-size:small;}
.eDoc_paragraph_indent {text-indent:0.5in; line-height: 200%;font-size:small;}
.eDoc_single_space {line-height: 100%;font-size:small;}
.eDoc_double_space {line-height: 200%;font-size:small;}
.eDoc_super {color:blue; vertical-align: super;font-size: smaller; line-height: normal;}
.blue {color:blue; margin-right: 1em;}
.context {background:#b6e4ff;padding:1px;}
.author {background:#ffd8b6;padding:1px;}
.topic {background:#bfb6ff;padding:1px;}
.purpose {background:#fffa79;padding:1px;}
.audience {background:#cdc95f;padding:1px;}
.adjective {background:#ff8e62;padding:1px;}
.adverb {background:#ff6296;padding:1px;}
.predicate {background:#5f75c4;padding:1px;}
.thesis {background:#a6a8ff;padding:1px;}
.topic_sentence {background:#7fe3c8;padding:1px;}
.transition {background:#d97fe3;padding:1px;}
.support {background:#e2e37f;padding:1px;}
.significant {background:#ea7a94;padding:1px;}
.key_concepts {background:#7a80ea;padding:1px;}
.connections {background:#7aea87;padding:1px;}
.needs_defining {background:#eae47a;padding:1px;}
.unclear {background:#7aeadc;padding:1px;}
.argument {background:#47a936;padding:1px;}
.evidence {background:#ffdf0b;padding:1px;}
.interpretation {background:#4e52ff;padding:1px;}
.ethos {background:#BC80CC;color:#000;padding:1px;}
.pathos {background:#FCFC7C;color:#000;padding:1px;}
.logos {background:#C8B613;color:#000;padding:1px;}
.highlight {background:#FFFFD3}
.mc1 {background:#8db14f;}
.mc2 {background:#ffe362;}
.mc3 {background:#4fb1a9;}


