/* 
    Document   : main
    Created on : Feb 25, 2012, 8:02:39 AM
    Author     : rlbaltha
    Description:
        Purpose of the stylesheet follows.
*/


body {font-family:Verdana, Arial, sans serif}
header {padding-top:10px; border-bottom:2px solid #525252; margin-bottom:10px;}
header .logo {font-size:2.52em;}
header nav ul {float:right;}
header nav ul li {float:left;list-style-type:none;}
header nav ul li a {display:block; padding:5px 15px; border-right:1px solid #eee; font-size:1.052em;  text-decoration:none;list-style-type:none;}
header nav ul li a:hover {background-color:#eee; border-right:1px solid #ccc; text-shadow:-1px -1px 0px #fff;}
header nav ul li.last a {border-right:none;}

article {border-bottom:5px double #ccc; margin-bottom:10px; padding-bottom:10px;}
article .information {color:#666; margin-bottom:10px; border-top:1px dashed #eee; border-bottom:1px solid #eee; display:block; text-align:center; padding:3px 0px;}

h1 {font-size:2.052em;}
h2 {border-bottom:1px dashed #ccc;}


footer {text-align:center; color:#666; font-size:0.9em; padding:4px 0px; border-top:1px solid #525252;}

