{# Marca/CourseBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}
{% block title %}Marca Profile{% endblock %}

{% block javascripts %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block subnav %}
{%include 'MarcaCourseBundle::subnav.html.twig' %}
{% endblock %}

{% block sidebar %}  
       {% if is_granted('ROLE_USER') %}
             <li class="active"><a href="{{ path('user_home') }}">Home</a></li>
       {% endif %}        
{% endblock %} 

