{# Marca/CourseBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}
{% block title %}Marca | {{ course.name }} Home{% endblock %}

{% block javascripts %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block subnav %}
{%include 'MarcaCourseBundle::subnav.html.twig' %}
{% endblock %}

{% block sidebar %}
<li class=""><a href="{{ course_path('course_home') }}">Home</a></li>
<li class=""><a href="{{ course_path('course_roll') }}">Roll</a></li>      
{% endblock %} 

