{# This subnav is the top navigation when inside a course.  Included from layout.html.twig #}

<li><a href="{{ path('file') }}">Projects</a></li>
<li><a href="{{ path('forum', { 'set': 0 }) }}">Forum</a></li>
<li><a href="{{ path('portfolio') }}">Portfolio</a></li>





