{# Marca/AdminBundle/Resources/views/Payment/transaction.html.twig #}

<script language="javascript"> 
$(document).ready(function() {
$(' form div ul li ul li').addClass('alert alert-error');
});
</script>

<div class="modal-header">
    {{ testtext }}
</div>

 <div class="modal-body">
     hello world
  </div>
  <div class="modal-footer">
      hello
  </div>
</form> 