{# Marca/FileBundle/Resources/views/File/new_modal.html.twig #}

<script language="javascript">
    $(document).ready(function () {
        var options = {
            target:        '#grade',
            success:        close_modal
        };
        $('form').submit(function() {
            $(this).ajaxSubmit(options);
            return false;

        });
        function close_modal() {
            $('#doc_modal').modal('hide');
        };
    });
</script>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Post Grade</h4>
        </div>
            <div class="modal-body">
                {{ form(form) }}
            </div>
            <div class="modal-footer">
            </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->





