{# Marca/DocBundle/Resources/views/Markupset/new.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %} 
<legend>Markup Set</legend>
<div class="row">
<div class="span4 well">
    <a class="btn btn-info btn-small" href="{{ path('markupset') }}">List Markupsets</a>
</div> 
</div>
<div class="row">
<div class="span4 well"> 
<form action="{{ path('markupset_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div class='pad'>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>
</div>
</div>
{% endblock %}
