{# Marca/UserBundle/Resources/views/Default/course_select_modal.html.twig #}

{# show modal after ajax load #}
<script language="javascript">
    $(document).ready(function () {
        $('#base_modal').modal();
    });
</script>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Create Course</h4>
        </div>
        <div class="modal-body">
       
            <div class="list-group">
                <a href="{{ path('course_create', { 'courseid': '0' }) }}" class="list-group-item">
                    <h2 class="list-group-item-heading">Create Course With <strong>No</strong> Module</h2>
                    {#<p> Creates a self-contained course with the standard set of projects and resources
                    </p>#}
                </a>
                </div>
                <div class="list-group">
                <a href="{{ path('course_create', { 'courseid': '1' }) }}" class="list-group-item">
                    <h2 class="list-group-item-heading">Create Course With <strong>New</strong> Module</h2>
                    <p> This new module will have the same name as the course.</p>
                </a>
                </div>
                {#<p> Creates a course with the standard set of projects and adds an existing module</p>#}
                <div class="list-group">
                {% for course in courses %}
                    <a href="{{ path('course_create', { 'courseid': course.id }) }}" class="list-group-item">
                        <h2 class="list-group-item-heading">Create Course With <strong>Existing</strong> Module: {{ course.name }}</h2>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

    



