{# Marca/UserBundle/Resources/views/Default/edit.html.twig #}

{% extends 'MarcaUserBundle::dialog.html.twig' %}

{% block content %}
    <div class="col-sm-8 center">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="small">Please update your Profile</h2>
            </div>

            <div class="panel-body">
                <form class="form" action="{{ path('user_update', { 'id': user.id }) }}" method="post" {{ form_start(edit_form) }} novalidate="novalidate">
                    {{ form_widget(edit_form) }}
                    <div>
                        <button class="btn btn-primary pull-right" type="submit">Post</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}
