{# Marca/CalendarBundle/Resources/views/layout.html.twig #}


{% extends '::base.html.twig' %}
{% block title %}Marca | Calendar{% endblock %}

{% block javascripts %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block subnav %}
{%include 'MarcaCourseBundle::subnav.html.twig' %}
{% endblock %}

{% block sidebar %} 
             <li><legend>Calendar</legend></li>
             <a id='calendar_new' class="btn btn-primary" href="{{ course_path('calendar_new')  }}" >Create<i class="icon-pencil icon-white"></i></a>
             <li><a class="" href="{{ course_path('calendar_upcoming') }}">Upcoming</a></li>
             <li><a class="" href="{{ course_path('calendar') }}">Term</a></li>
             <li><a class="" href="{{ course_path('calendar_display', { 'gotodate': "now"|date('Y-m-d')}) }}">Month</a></li>
{% endblock %}  

