{# Marca/CalendarBundle/Resources/views/layout.html.twig #}


{% extends '::base.html.twig' %}
{% block title %}Marca Calendar{% endblock %}

{% block javascripts %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block subnav %}
{%include 'MarcaCourseBundle::subnav.html.twig' %}
{% endblock %}

{% block sidebar %} 
             <li><legend>Calendar</legend></li>
             <li><a class="btn" href="{{ course_path('calendar_new') }}">CREATE</a></li>
             <li><a class="" href="{{ course_path('calendar') }}">Agenda</a></li>
             <li><a class="" href="{{ course_path('calendar_display') }}">Month</a></li>
{% endblock %}  

