{# Marca/CalenarBundle/Resources/views/sidebar.html.twig #}
{# esi fragment for calendar sidebar #}

<h2><a title='Course Calendar' href="{{ course_path('calendar_display', { 'gotodate': "now"|date('Y-m-d')}) }}" class="marca-gray">Calendar</a></h2>

{% if app.request.get('_route') == 'calendar_new' or app.request.get('_route') == 'calendar_edit' %}
{% else %}
    {% if role==2 %}
{#        <a id='calendar_new' class="btn btn-primary margin-bottom-medium" href="{{ course_path('calendar_new', {'set_date': "now"|date("Y-m-d")} ) }}" >Create<i class="glyphicon glyphicon-pencil glyphicon-white"></i></a>#}
    {% endif %}
    <li><a class="" href="{{ course_path('calendar_display', { 'gotodate': "now"|date('Y-m-d')}) }}">Month</a></li>
    <li><a class="" href="{{ course_path('calendar_upcoming') }}">Agenda</a></li>
{% endif %}