{# Marca/FileBundle/Resources/views/File/edit_modal.html.twig #}

{# show modal after ajax load #}
<script language="javascript">
    $(document).ready(function () {
        $('#file_modal').modal();
    });
</script>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">File Settings</h4>
        </div>
        <div class="modal-body">
            <form action="{{ path('file_update', {'id': file.id, 'courseid':file.course.id, 'resource':app.request.get('resource')}) }}" method="post"  novalidate="novalidate">
                <div class="modal-body">
                    {{ form_widget(edit_form) }}
                    <button type="submit" class="btn btn-primary pull-right" type="submit">Post</button>
                </div>
            </form>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->




