{# Marca/FileBundle/Resources/views/File/new_modal.html.twig #}

{# show modal after ajax load #}
<script language="javascript">
    $(document).ready(function () {
        $('#file_modal').modal();
    });
</script>

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{% if app.request.get('type') == 'doc' %}New Document{% elseif app.request.get('type') == 'saveas' %}SaveAs Document{% elseif app.request.get('type') == 'review' %}Review{% elseif app.request.get('type') == 'link' %}New Link{%endif%}</h4>
        </div>
        <form action="{{ course_path('file_create',{'resource': app.request.get('resource'), 'tag': app.request.get('tag'),'type': app.request.get('type'),
'user': '0','project': 'recent', 'fileid':app.request.get('fileid')}) }}" method="post" {{ form_enctype(form) }}  novalidate="novalidate">       
        <div class="modal-body">
           {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary pull-right" type="submit">Post</button>
        </div>
        </form>           
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->



