{# Marca/FileBundle/Resources/views/File/show_modal.html.twig #}

{# show modal after ajax load #}
<script language="javascript">
    $(document).ready(function () {
        $('#file_modal').modal();
    });
</script>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <span class="modal-title">Delete</span>
        </div>
            <div class="modal-body">
                Are you sure?
                    <form action="{{ course_path('file_delete', { 'id': file.id, 'resource': app.request.get('resource') }) }}" method="post">
                        {{ form_widget(delete_form) }}
                            <button class="btn btn-danger" type="submit">Yes</button>
                    </form>
            </div>
        </form>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->